doctype html
html(lang="en")
	head
		meta(name="viewport", content="initial-scale=1, width=device-width")

		//- Bootstrap CSS
		link(href="../lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

		//-  Este archivo no tiene nada, aqui vas a incluir estilos propios para alterar el css de bootstrap
		link(href="../css/styles.css", rel="stylesheet") 

	body(ng-app="mindlyApp")

		ui-view
			
		//- Angular
		script(src="../lib/angular/angular.min.js")
		script(src="../lib/angular-ui-router/release/angular-ui-router.min.js")

		//- General
		script(src="../lib/underscore/underscore.js")
		script(src="../lib/bootstrap/dist/js/bootstrap.js")

		//- MindlyApp
		script(src="../js/app.js")

		//- Services
		script(src="../js/services/general/footer-service.js") 
		script(src="../js/services/home-service.js")
		script(src="../js/services/tasks/tasks-service.js")
		script(src="../js/services/general/underscore-service.js")

		//- Controllers
		script(src="../js/controllers/general/menu-controller.js")
		script(src="../js/controllers/general/header-controller.js")
		script(src="../js/controllers/home-controller.js")
		script(src="../js/controllers/tasks/task-detail-controller.js")
		script(src="../js/controllers/projects/create-project-controller.js")

		//- Directives