
<div role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-inner"><a href="#" class="navbar-brand">Mindly</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
  </div>
</div>
<div style="padding-top: 70px;" class="container">
  <ui-view name="content"></ui-view>
</div>